<div class="container-title">
  <h1 class="title-task-h1">Modify <%= @task.title %> </h1>
</div>

<%= simple_form_for @task do |f| %>

  <div class="container py-4">
    <%= f.input :title, label: "Title" %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Start Date" %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "End Date"  %>

    <div class="actions">
      <%= f.button :submit, "Update Project", class: "button-update" %>
      <%= link_to 'Back', project_path(@task.project), class: "button-back" %>
      <%= link_to 'Delete', project_task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button-delete"  %>
    </div>
  </div>
<% end %>
