<h1>Modify <%= @task.title %> </h1>
<%= simple_form_for @task do |f| %>
 <div class="field">
    <%= f.input :title, label: "Title" %>
  </div>

  <div class="field">
    <%= f.input :start_date, as: :date, label: "Start Date" %>
  </div>

  <div class="field">
    <%= f.input :end_date, as: :date, label: "End Date" %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update Project" %>
  </div>
<% end %>
<%= link_to 'Back', project_path(@task.project) %>
<%= link_to 'Delete', project_task_path(@task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
