<h1>New Task</h1>

<%= simple_form_for @task do |form| %>
  <%= form.input :title %>
  <%= form.input :description %>
  <%= form.button :submit, "Create Task" %>
<% end %>

<%= link_to 'Back', tasks_path %>
