<h1 class="header text-align center">Profile</h1>
<div class="logout">
  <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <span>logout</span>
  <% end %>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card text-center">
                <div class="card-body">
                    <div class="profile">
                            <p>
                        <% if @user.avatar.attached? %>
                          <%= image_tag @user.avatar, size: "200x200", class: "rounded-circle shadow-4" %>
                        <% else %>
                          <p>No avatar uploaded</p>
                        <% end %>
                      </p>
                        <h2 class="card-title"><%= @user.first_name %></h2>
                        <h5 class="card-title"> @<%= @user.username %></h5>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 col-md-4">
                            <div class="stat">
                                <h5 class="fw-bold">XP Points</h5>
                                <p><%= @user.sash.points %></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="stat">
                                <h5 class="fw-bold">Projects Completed</h5>
                                <p>25</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="stat mt-3 mt-md-0">
                                <h5 class="fw-bold">Following</h5>
                                <p>150</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="stat mt-3 mt-md-0">
                                <h5 class="fw-bold">Followed</h5>
                                <p>180</p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="stat mt-3 mt-md-0">
                                <h5 class="fw-bold">Badges</h5>
                                <p><%= current_user.badges.count%></p>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="stat mt-3 mt-md-0">
                                <h5 class="fw-bold">Level</h5>
                                <p><%= @user.level %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <div class="row justify-content-center mt-5">
          <div class="col-md-8 col-lg-6">
              <div class="card">
                  <div class="card-body">
                      <h3 class="card-title text-center mb-4">Badges</h3>
                      <div class="row g-2">
                      <p>Level: <%= @user.level %> </p>
                            <% current_user.badges.each do |badge| %>
                              <div class="col-4 col-sm-3 col-md-2">
                              <%= badge_image(badge) %>
                              <%= badge.name.humanize %>
                                <%= badge.description %>
                              </div>
                              <% end %>
                      </div>
                  </div>
              </div>
            </div>
  </div>
</div>
