<div class="container-title">
  <h1 class="title-project-h1">My Profile</h1>
</div>

<div class="logout text-center">
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <span>logout</span>
  <% end %>
</div>

<div class="container">
  <div class="profile text-center">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "rounded-circle shadow-4 avatar" %>
    <% else %>
      <p>No avatar uploaded</p>
    <% end %>
    <h2 class="profile-name"><%= @user.first_name %> <%= image_tag "#{@user.country}.png", size: "30x30" %></h2>
    <h5 class="profile-username"> @<%= @user.username %></h5>

    <div class="row mt-5 mb-5">
      <div class="col-3 col-md-3">
        <h5 class="fw-bold profile-stats">XP Points</h5>
        <div class="stat-tiles stat-tiles-orange">
          <p><%= @user.total_points %></p>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <h5 class="fw-bold profile-stats">Projects</h5>
        <div class="stat-tiles stat-tiles-blue-light">
          <p><%= current_user.projects.count %> </p>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <h5 class="fw-bold profile-stats">Trophies</h5>
        <div class="stat-tiles stat-tiles-yellow">
          <p><%= current_user.trophies.count%></p>
        </div>
      </div>
      <div class="col-3 col-md-3">
        <h5 class="fw-bold profile-stats">Level</h5>
        <div class="stat-tiles stat-tiles-blue">
          <p><%= current_user.player_level %></p>
        </div>
      </div>
    </div>

    <div class="row my-2 mx-2">
      <h1 class="title-task-h1">Trophies</h1>
      <div class="justify-content-center mt-2 mb-2">
        <%= image_tag "#{@user.player_level}.png", style:"width:150px;" %>
      </div>
      <p>Level: <%= current_user.player_level %> </p>
      <div class="progress mt-2 mb-2">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="mt-2 mb-2">
        <% @recent_trophies.each do |trophy| %>
          <%= image_tag(trophy.image, :class =>"trophy-img") %>
          <%= trophy.name.humanize %>
        <% end %>
      </div>
      <div>
        <%= link_to "See all your trophies", trophies_path %>
      </div>

    </div>

  </div>

</div>
