<%= simple_form_for project do |f| %>
  <div class="container py-4">
    <div class="field">
      <%= f.input :title, label: "Title" %>
    </div>

    <div class="field">
      <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Start Date" %>
    </div>

    <div class="field">
      <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "End Date"  %>
    </div>

    <div class="field">
      <%= f.input :status, label: "Status", collection: ["Not started","In progress"] %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Start Project", class: "button-create" %>
    </div>
  </div>
<% end %>
