<div class="container-home">
  <div class="banner mx-9">
    <%= image_tag("home/procrast_title.png", alt: "procrast", class: "img-responsive") %>
    <%= image_tag("home/logo_p.png", alt: "procrast", class: "img-logo") %>
    <div class="info">
      <h1>Turn your procrastination into creation</h1>
      <span class="carrousel-home" data-controller="typed" data-typed-sentences-value="[]" ></span>
    </div>
    <div class="mt-4">
      <%= link_to new_project_path, class:"btn-procrast-home" do  %>
        Start Now&emsp;&emsp;&emsp;<i class="fa-solid fa-circle-chevron-right"></i>
      <% end %>
    </div>
  </div>
</div>
<% if user_signed_in?%>
  <span></span>
<% else %>
  <div class="container-login">
    <%= link_to 'Login', new_user_session_path, class: "login-button" %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "login-button"%>
  </div>
<% end %>
