<div class="container-title">
  <h1 class="title-project-h1">New Project</h1>
</div>

<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id= "error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container py-4">
    <%= f.input :title, label: "Title" %>
    <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Start Date" %>
    <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "End Date" %>
    <%= f.input :status, label: "Status", collection: ["Not started","In progress","Completed"] %>

    <div class="actions">
      <%= f.button :submit, "Modify Project", class:"button-submit" %>
      <%= link_to projects_path, class:"button-back" do %>
        <i class="fa-solid fa-rotate-left"></i>
      <% end %>
      <%= link_to project_path(@project), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button-delete" do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </div>

  <% end %>
</div>
