<h1 class="title-project-h1">New Project</h1>


<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id= "error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container py-2">
    <%= f.input :title, label: "Title" %>
    <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Start Date" %>
    <%= f.input :end_time, as: :string, input_html: { data: { controller: "datepicker" } }, label: "End Date" %>
  <%= f.input :status, label: "Status", collection: ["Not started","In progress","Completed"] %>

  <div class="actions btn btn-success m-auto">
    <%= f.button :submit, "Update Project" %>

  </div>
  <%= link_to 'Back', projects_path, class:"btn btn-warning" %>
<% end %>
