<div class="container-title">
  <h1 class="title-project-h1"><%= @project.title %>
  <%= link_to edit_project_path(@project), class: "edit-project" do %>
    <i class="fa-solid fa-ellipsis"></i>
  <% end %>
  </h1>
</div>
</div>
<div class="container-date">
  <div class="start-date">
    <i class="fa-solid fa-play"></i> <%= @project.start_time %>
  </div>
  <div class="end-date">
    <i class="fa-solid fa-flag-checkered"></i> <%= @project.end_time %>
  </div>
</div>


<% if @project.tasks.any? %>
  <ul class="listed-tasks">
    <% @project.tasks.each do |task| %>
    <div class="container-task">
      <li><%= task.title %> | <%= task.start_date%></li>
      <%= link_to edit_project_task_path(@project, task) do %>
        <i class="fa-solid fa-ellipsis"></i>
      <% end %>
    </div>
      <% end %>
    </ul>
  <% else %>
    <p>No tasks found for this project.</p>
  <% end %>


  <div class="container-task" data-controller="toggle">
    <div class="button-task">
      <button data-action="click->toggle#toggleElement" class="button-task">Add a Task</button>
    </div>

    <div data-toggle-target="togglableElement" class="d-none">
      <%= simple_form_for([@project, @task]) do |f| %>

      <div class="container py-2">

        <%= f.input :title %>
        <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "Start Date" %>
        <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } }, label: "End Date" %>
        <%= f.button :submit, 'Create Task' %>

        </div>

      <% end %>
    </div>
  </div>
</div>
