<h1><%= @project.title %></h1>

<p><strong>Start date:</strong> <%= @project.start_date %></p>

<p><strong>End date:</strong> <%= @project.end_date %></p>

<p><strong>Created at:</strong> <%= @project.created_at %></p>

<p><strong>Updated at:</strong> <%= @project.updated_at %></p>

<% if @project.tasks.any? %>
  <h2>Tasks:</h2>
  <ul>
    <% @project.tasks.each do |task| %>
      <li><%= task.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No tasks found for this project.</p>
<% end %>
