<div class="container-title">
  <h1 class="title-project-h1"><%= @project.title %>
    <%= link_to edit_project_path(@project), class: "edit-project" do %>
      <i class="fa-solid fa-ellipsis"></i>
    <% end %>
  </h1>
</div>

<div data-controller="toggle">

<div data-controller="done">
    <div class="progress" data-project-id="<%=@project.id %>">
      <div id="bar" data-done-target="bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: <%= @project.completion_percentage %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>


    <div id="completed-button" data-done-target="completedButton" class="<%= @project.completed? ? "" : "d-none" %>">
      <button>
        <i class="fa-solid fa-check"></i>
        <span>Completed</span>
      </button>
    </div>

    <div class="container-date" >
      <div class="start-date">
        <i class="fa-solid fa-play"></i> <%= @project.start_time %>
      </div>
      <div class="end-date">
        <i class="fa-solid fa-flag-checkered"></i> <%= @project.end_time %>
      </div>
    </div>


    <% if @project.tasks.any? %>
      <ul class="listed-tasks" data-toggle-target="list">
        <% @project.tasks.order(:id).each do |task| %>
          <%= render "tasks/task", task: task  %>
        <% end %>
      </ul>
    <% else %>
        <% if @project.tasks.empty? %>
              <p class="text-center">No tasks found for this project.</p>
            <% else %>
             <ul class="listed-tasks" data-toggle-target="list">
            </ul>
        <% end %>
          <ul class="listed-tasks" data-toggle-target="list">
          </ul>
    <% end %>
</div>

    <div class="container-task-add">
      <div class="button-task">
        <button data-action="click->toggle#toggleElement" class="button-task">Add a Task</button>
      </div>

        <div data-toggle-target="togglableElement" class="d-none">
          <%= render "tasks/form", task: @task %>
        </div>
      <div data-toggle-target="anchor"></div>
    </div>
  </div>
</div>
