<div class="container-title">
    <h1 class="title-project-h1">Trophy Details</h1>
</div>


<div class="container-trophy <%=@trophy.name.downcase.gsub(" ", "-")%>-background">
    <%=  image_tag @trophy.image, :class =>"trophy-img-show" %>
    <div class="info-trophy">
        <h2>"<%= @trophy.name %>"</h2>

        <p><%= @trophy.description %></p>
        <% if @trophy.name == "The king of projects" %>
          <div class="progress my-3">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width:70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% elsif @trophy.name == "The weekender" %>
          <div class="progress my-3">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width:90%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        <% else%>
          <div class="progress my-3">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width:100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
       <%  end %>
    </div>
<%= link_to trophies_path, class: 'btn-back' do %>
  <i class="fa-solid fa-circle-chevron-left fa-xl"></i>
<% end %>
</div>
