<!DOCTYPE html>
<html>
  <head>
    <title>Procrast-Everybody procrastinates, you just need to know how to do it better ! </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>
  <body>

        <% if user_signed_in? %>
      <%= render 'shared/navbar'%>
        <% else %>
        <span></span>
        <% end %>
        <div>
          <%= yield %>
            <%= render "shared/flashes"%>
          <div id="space-for-navbar">
          </div>
        </div>
  </body>
</html>
