<!DOCTYPE html>
<html>
  <head>
    <title>Procrast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  </head>

  <body>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <% if current_user %>
          <%= link_to root_path(current_user), class: "navbar__link" do %>
          <i class="fa-solid fa-house"></i><span>Home</span>
          <% end %>
        <% end %>
      </li>
      <li class="navbar__item">
        <% if current_user %>
          <%= link_to calendar_project_path(current_user), class: "navbar__link" do %>
          <i class="fa-regular fa-calendar"></i><span>Calendar</span>
          <% end %>
        <% end %>
      </li>
      <li class="navbar__item">
        <% if current_user %>
          <%= link_to  new_project_path(current_user), class: "navbar__link" do %>
          <i class="fa-solid fa-circle-plus"></i><span>New Project</span>
          <% end %>
        <% end %>
      </li>
      <li class="navbar__item">
        <% if current_user %>
          <%= link_to projects_path(current_user), class: "navbar__link" do %>
          <i class="fa-solid fa-rectangle-list"></i><span> My Projects</span>
          <% end %>
        <% end %>
      </li>
      <li class="navbar__item">
        <% if current_user %>
          <%= link_to user_path(current_user), class: "navbar__link" do %>
          <i class="fa-solid fa-user"></i><span>Profile</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="container mt-5">
    <%= yield %>
  </div>
  <script src='https://unpkg.com/feather-icons'></script><script src="../javascript/controllers/script.js"></script>
  </body>
</html>
