<!DOCTYPE html>
<html>
  <head>
    <title>Procrast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="icon" type="image/png" href="<%= asset_path('logo.png') %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>
  <body>
  <div class="container mt-5 mx-auto">
        <% if user_signed_in? %>
      <%= render 'shared/navbar'%>
        <% else %>
        <span></span>
        <% end %>
    <%= yield %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <script src='https://unpkg.com/feather-icons'></script>
  </body>
</html>
